    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
      </p>
      <p>
      <a href="http://localhost:3000/pages/about"> About</a>
      <a href="http://localhost:3000/pages/contact"> Contact</a>
      </p>

